$prompt-width: 360px;
$prompt-top: 200px;

.prompt {
  position: fixed;
  width: $prompt-width;
  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;
  top: $prompt-top;
  left: 50%;
  margin-left: -$prompt-width / 2;
  z-index: $zindex-modal;
}
